@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Giovanni Quadri, 166<br />
    Itaquera, Zona Leste - SP<br />
    <abbr title="Phone:">WhatsApp:</abbr>
    (11)98182-4489
</address>

<address>
    <strong>Email:</strong> <a href="mailto:bruno.almeida.developer@gmail.com">bruno.almeida.developer@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/brunosousaalmeida">brunosousaalmeida</a>
</address>
